body{
    background: black;
    justify-content: center;
    align-items: center;
}
p{
    /* background-color: aqua; */
    color: red;
    font-size: 30px;
    text-align: center;
    margin-top: 275px;
}
h3{
    color: rgb(16, 218, 218);
    font-size: 30px;
    text-align: center;
}